* {
  box-sizing: border-box;
}

.box {
  width: 100%;
  height: 80vh;
  border: 3px solid #f80707;
  background-color: #d2cece;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(img/bg_hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9f9fd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.post {
  position: relative;
  /* border: 1px solid #e20d0d; */
  max-width: 600px;
  min-width: 200px;
  /* width: 300px; */
  padding: 20px;
  border-radius: 4px;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;

  /* box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3); */
  box-shadow: inset 20px 10px 30px 15px #3a383a;

  /* border: 1px solid #EEE; */
  /* background: #FFF; */
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.post-title {
  margin-top: 0;
}

.post-text {
  margin-bottom: 0;
}

.post-title::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  /* border: 1px solid #d91818; */
  background-image: url(img/bg_hero.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
